<%- include('../partials/header') %>

<title><%= title %> </title>
<!-- <h1>Please add a new title using the form below.</h1> -->
<form action="/books" id="new-form" method="POST">
    <label>Title:</label>
    <input type="text" name="title" placeholder="Please write the title for your book"> <br>
    <input type="text" name="author" placeholder="Author's name"> <br>
    <input type="text" name="publicationDate" placeholder="Release year (YYYY)"> <br>
    <input type="text" name="description" placeholder="Synopsis"> <br>
    <button type="submit" value="New Book">Add new book</button>
</form>

<%- include('../partials/footer') %>
