<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="C:\Users\Sebastian\Pictures\Screenshots">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="/public/stylesheets/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/public/stylesheets/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/public/stylesheets/css/book.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
		<script defer src="js/modernizr.custom.js"></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>

    <!-- <li><div data-video="BFSWlDpA6C4" data-autoplay="1" data-loop="1" id="youtube-audio"></div></li> -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <audio controls autoplay loop preload="metadata" style=" width:100px;">
        <source src="https://cdn.sndup.net/6srr/Doki+Doki+Literature+Club%21+OST+-+Doki+Doki+Literature+Club%21+%28Main+Theme%29.mp3?token=79zNRdtKUFjr210cQeGXDFKry5tSHA_XU2FylZ5C4fs&token_path=%2F6srr%2F&expires=1608448178" type="audio/mpeg">
      </audio>
      <div class="container-fluid">
        <div class="navbar-header">
          <li><a class="navbar-brand" href="https://sebastian-tic-tac-toe.surge.sh/">Literature Club</a></li>
        </div>
        <ul class="nav navbar-nav">
          <% if (user) { %>
          <li class="active"><a href="/">Home</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a href="/books/index" class="nav-link">All books</a></li>
              <li class="nav-item"><a href="/books/new" class="nav-link">Add a new book</a></li>
            </ul>
          </li>
          <li class="nav-item"><a href="/forums" class="nav-link">Book forum</a></li>
          <ul class="nav navbar-nav navbar-right" id="last-nav-item">
              <li class="nav-item"><a href="/auth/logout" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
              <li class="nav-item"><img src="<%= user.avatar %> "alt="#" id="avatarPhoto"></li>
          </ul>
          <% } else { %>
            <ul class="nav navbar-nav navbar-right" id="last-nav-item"></ul>
              <li class="nav-item">
                <a href="/auth/google" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login with Google</a>
              </li>
            </ul>
          <% } %>
        </ul>
      </div>
    </nav>
