<%- include('partials/header') %>

<div class="book1">
    <p id="welcome" class="ele"><a href="/auth/google"><%= user ? `Welcome, ${user.name}` : "Please login to start" %></a></p>
    <span class="page1 turn1"></span>
    <span class="page1 turn1"></span>
    <span class="page1 turn1"></span>
    <span class="page1 turn1"></span>
    <span class="page1 turn1"></span>
    <span class="page1 turn1"></span>
    <span class="cover1"></span>
    <span class="page1"></span>
    <span class="cover1 turn1"></span>
  </div>

<%- include('partials/footer') %>
