body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
  margin: 0;
}

nav {
  background-color: white;
  display: inline;
}

#cover-index {
  height: 400px;
  width: 260px;
}

#cover-detail {
  height: 800px;
  width: 520px;
}
