<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="controls">
            <div class="options">
                <label>
                    <span>Width:</span>
                    <input value="256" id="inpImgWidth" type="text">
                  </label>
                  <label>
                    <span>Height:</span>
                    <input value="128" id="inpImgHeight" type="text">
                  </label>
              <label>
                    <span>Amount:</span>
                    <input value="10" id="inpImgAmount" type="text">
                  </label>
              <label>
                    <span>Shape density:</span>
                    <input value="3" id="inpShapeDensity" type="text">
                  </label>
            <hr>
            <label>
                    <span>Draw text overlay:</span>
                    <input checked id="inpTxtDrawOverlay" type="checkbox">
                  </label>
      <label>
                    <span>Font size:</span>
                    <input value="24" id="inpTxtFontSize" type="text">
                  </label>
      <label>
                    <span>Text overlay:</span>
                    <input value="{width} x {height}" id="inpTxtContent" type="text">
                  </label>
            <hr>
      <label>
                    <span>Color:</span>
                    <input class="inp-color" type="color"><br> Random: <input type="checkbox" class="chk-bg-random" checked>
                  </label>

            </div>
            <button class="btn btn-generate" id="btnGenerate">Generate</button>
        <button class="btn btn-download" id="btnDownload">Download</button>
        <button class="btn btn-clear" id="btnClear">Clear</button>
        </div>

        <div id="output" class="output">
          <span class="output-label">Output</span>
        </div>
      </div>

</body>
</html>
